.content{
    width: 100%;

    &___hero{
        width: 100%;
        text-align: center;
        background-color: rgb(34, 34, 34);
        padding: 60px 0;

        &--txt{
          
            &--p1{
                font-size: 50px;
                font-weight: 700;
                color: white;
                padding-bottom: 10px;
            }

            &--p2{
                color: gray;
            }
        }
    }

    &___vitrine{
        width: 100%;


        &___wrapper{
            width: 65%;
            margin: 100px auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;

            &___item{
                width: 22%;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                overflow: hidden;

                &--top{
                    width: 100%;

                    & img{
                        width: 100%;
                        object-fit: cover;
                    }
                }

                &--bottom{
                    padding: 10px;
                    text-align: center;

                    &--info{
                        padding-bottom: 30px;

                        .item--title{
                            padding-bottom: 5px;
                        }
                    }

                    & button{
                        width: 45%;
                        height: 30px;
                        background-color: white;
                        border: 1px solid black;
                        border-radius: 5px;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover{
                            color: white;
                            background-color: black;
                            transition:linear 0.1s;
                        }
                    }
                }
            }
        }
    }
}